{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h1 class="login-heading mb-4 title my-4">Connexion</h1>           
              <form action="{{ path('security_login') }}" method="post">              
                <div class="form-label-group title">
                  <input type="email" id="inputEmail" placeholder="Adresse Email" required name="_username" required autofocus>
                  <label for="inputEmail">Adresse Email</label>
                </div>
                <div class="form-label-group title">
                  <input type="password" id="inputPassword" placeholder="Mot de passe" required name="_password">
                  <label for="inputPassword">Mot de Passe</label>
                </div>
                {# <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div> #}
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2 typewriter" type="submit">Je me connecte</button>
                {# <button class="btn btn-lg btn-facebook btn-block typewriter" type="submit">
                  <i class="fa fa-facebook"></i>
                    Se connecter avec 
                      <span class="text-uppercase">
                        Facebook
                      </span>
                </button> #}
                {# <div class="text-center">
                  <a class="small" href="#">Mot de passe oublié?</a>
                </div> #}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}