{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Inscription</h5>

            {{ form_start(form) }}
                          
              {{ form_row(form.username, {'label': 'Nom d\'utilisateur', 'attr':{'placeholder': 'Nom d\'utilisateur'} }) }}

              {{ form_row(form.email, {'attr':{'placeholder': 'Email'} }) }}

              {{ form_row(form.password, {'label': 'Mot de passe', 'attr':{'placeholder': 'Mot de passe'} }) }}

              {{ form_row(form.confirm_password, {'label': 'Confirmation du mot de passe', 'attr':{'placeholder': 'Répétez votre mot de passe'} }) }}

              <button class="btn btn-lg btn-primary btn-block text-uppercase typewriter" type="submit">
                Je m'inscris
              </button>

              {{ form_rest(form) }}
            
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}