{% extends 'base.html.twig' %}

{% block title %}Citations du Monde{% endblock %}

{% block body %}

<h1 class="my-4">Mes favoris</h1>

{% if items | length > 0 %}
  <table class="table">
    <thead>
      <tr>        
        <th class="my-4">Auteur</th>
        <th class="my-4">Citation</th>
        {# <th class="my-4">Date</th> #}
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td class="my-4">{{ item.quote.author }}</td>
          <td class="my-4">{{ item.quote.citation }}</td>          
          {# <td class="my-4">{{ item.quote.publicationDate | date ('d/m/Y') }}</td> #}
          <td >{{ item.quantity }}</td>
          <td class="my-4">
            <a href="{{ path('my_favourites_remove', {'id': item.quote.id}) }}" class="btn btn-danger btn-sm">
              <i class="fas fa-trash"></i>
              Supprimer
            </a>
          </td> 
        </tr>
      {% endfor %}        
    </tbody>  
  </table>

{% else %}
  <h1 class="my-4"> Votre panier de favoris est vide </h1>
  
{% endif %}

{% endblock %}
