{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Citations du Monde{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">

            <h1 class="card-title text-center">

              {% if editMode %}
                  Modifier la catégorie
                
              {% else %}
                  Rajouter une catégorie

              {% endif %}
              
            </h1>

            {{ form_start(form) }}
            
              {{ form_row(form.title, {'label': 'Nom de la catégorie', 'attr':{'placeholder': 'Nom de la catégorie'} }) }}
              
              {{ form_row(form.description, {'label': 'Description', 'attr': {'placeholder': 'Description'} }) }}
              
              <button class="btn btn-lg btn-primary btn-block text-uppercase typewriter" type="submit">
                
                {% if editMode %}
                  Modifier la catégorie
                
                {% else %}
                  Enregistrer la catégorie

                {% endif %}

              </button>
              
              {{ form_rest(form) }}

            {{ form_end(form) }}
          </div>
        </div>
        <a href="{{ path('all_categories') }}">Revoir toutes les catégories</a>
      </div>
    </div>
  </div>

{% endblock %}