{% extends 'base.html.twig' %}

{% block title %}Citations du Monde{% endblock %}

{% block body %}

<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">Toutes les catégories</h1>
  <div class="row">

    {% for category in categories %}
    
      <div class="col-lg-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Nom de la catégorie : {{ category.title }}</a>
            </h4>
            <p class="card-text">
              <a href="#">Description : {{ category.description }}</a>
            </p>            
            <a href="{{ path('one_category', {'id': category.id}) }}" class="btn btn-primary">Voir cette catégorie</a>
            <a href="{{ path('edit_category', {'id': category.id}) }}" class="btn btn-warning">Modifier</a>
            <a href="{{ path('one_category', {'id': category.id}) }}" class="btn btn-danger">Supprimer</a>
          </div>
        </div>
      </div>

    {% endfor %}

  </div>
  <!-- /.row -->

  <!-- Pagination -->
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
    </li>
  </ul>

</div>
<!-- /.container -->

{% endblock %}