{% extends 'base.html.twig' %}

{% block title %}Citations du Monde{% endblock %}

{% block body %}

<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->

  <h1 class="my-4">Citations de la catégorie {{ category.title }}</h1>

  <div class="row">

    <div class="col-lg-6 mb-4">
        <div class="card h-100">
          
        {% for quote in quotes %}

          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Citation du {{ quote.publicationDate | date ('d/m/Y') }}</a>
            </h4>
            <h5 class="card-title">
              <a href="#">Auteur : {{ quote.author }}</a>
            </h5>
            <p class="card-text"> Citation : {{ quote.citation }}</p>
            <a href="{{ path('one_quote', {'id': quote.id}) }}" class="btn btn-primary">Voir cette citation</a>
          </div>

        {% endfor %}

        </div>
      </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

{% endblock %}