{% extends 'base.html.twig' %}

{% block title %}Citations du Monde{% endblock %}

{% block body %}

<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">Catégorie : {{ category.title }}</h1>
  <div class="row">    
      <div class="col-lg-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Nom de la catégorie : {{ category.title }}</a>
            </h4>
            <p class="card-text">
              <a href="#">Description : {{ category.description }}</a>
            </p>           
            <a href="{{ path('edit_category', {'id': category.id}) }}" class="btn btn-warning">Modifier</a>
            <a href="{{ path('delete_category', {'id': category.id}) }}" class="btn btn-danger">Supprimer</a>
            <a href="{{ path('all_categories') }}" class="btn btn-primary">Revoir toutes les catégories</a>
          </div>
        </div>
      </div>
  </div>
  <!-- /.row -->
</div>

{% endblock %}