{% extends 'base.html.twig' %}

{% block title %}Citations du Monde{% endblock %}

{% block body %}

<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">Nom de la catégorie : {{ category.title }}</h1>

  <!-- Portfolio Item Row -->
    <div class="row">
      <div class="col-md-4">
        <h3 class="my-3">Description : </h3>
        <p>"{{ category.description }}"</p>      
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <a href="{{ path('edit_category', {'id': category.id}) }}" class="btn btn-warning">Modifier</a>
        <a href="{{ path('delete_category', {'id': category.id}) }}" class="btn btn-danger">Supprimer</a>
        <a href="{{ path('all_categories') }}" class="btn btn-primary">Revoir toutes les catégories</a>
      </div>
    </div>   
  <!-- /.row -->
</div>
<!-- /.container -->

{% endblock %}