/* HOME */
/* @font-face {
  font-family: "Parisienne-Regular";
  src: url("/font_parisienne/Parisienne-Regular.ttf") format("ttf");
} */
@font-face {
  font-family: "rm_typerighter_medium";
  src: url("/rm-typewriter-medium/rm_typewriter_medium.ttf") format("ttf");
}

@font-face {
  font-family: "AccessibleDfA";
  src: url("/font-accessible-dfa-master/AccessibleDfA.ttf") format("ttf");
}

body {
  font-family: "AccessibleDfA" !important;
  /* font-size: 1.5rem !important; */
  font-size: 16px;  
  font-weight: 600 !important;  
  /* padding-bottom:250px; */
}

/*header */
.nav-sup {
  background-image: url("/images/doré.png");
  background-position: center !important;
  background-repeat: repeat;
 
}
.title {
  justify-content: center;
  text-align: center;
}

@media (max-width: 767px) {
  .no-mobile {
    display: none;
  }
  /* .desktop {
    display: none;
  } */
}

/* @media (min-width: 769px) {
  .mobile {
    display: none;
  }
} */

.my-4 {
  color: whitesmoke;
}

/*navbar header and footer */
.nav-plus {
  justify-content: space-around !important;
  background-color: #EEE7E1;
}

/* liens */
a {
  color:black !important;
}
a:hover {
  color: darkred !important;
}

/* logo */
.logo {
  width: 50px;
  height: 50px;
  margin: 10px 20px 20px 20px !important;
}

h1 {
  margin: 20px !important;
  font-weight: bold !important;
}

p {
  font-size: 1.5rem;
}

.btn-light {
    background-color: pink !important;
}

#navbar-padding {
  padding: 0px;
}

.font-nav {
  font-size: 1.5rem;
}

.img {
width : 635px !important;
height : 508px !important;
}

.img-all {
 width : 538px !important;
 height : 430px !important;
}

.icone {
 width: 30px;
 height: 30px;
}

/* icônes réseaux sociaux */
.fa {
  padding: 16px;
  text-align: center;
  border-radius: 50%;
  font-size: 26px;
}

.fab {
  padding: 16px;
  text-align: center;
  border-radius: 50%;
  font-size: 26px;
}

.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #41779F;
  color: white;
} 

/*** REGISTRATION ***/
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  /* background: #007bff; */
  background: black;
  background: linear-gradient(to right, black ,#131339);
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 16 px;
}

.card-signin .card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center url('https://source.unsplash.com/WEQbe2jBg40/414x512');
  background-size: cover;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

.typewriter {
  font-family: "rm_typerighter_medium";
}
/*** REGISTRATION ***/

/*** SIGN IN ***/
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

/* .login, */
.image {
  min-height: 100vh;
}

.bg-image {
  /* background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200'); */
  background-image: url('/images/bleu-or.JPG');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
/*** SIGN IN ***/

/*** FOOTER ***/

/* .footer {
  position:absolute;
  bottom:0;  
} */

/* #sticky-footer {
  flex-shrink: none;
} */