{% extends 'base.html.twig' %}

{% block title %}Citations du Monde{% endblock %}

{% block body %}

<h1 class="my-4">Mes favoris</h1>
  
  {% if quotes | length > 0 %} 
    
  <table class="table">
    <thead>
      <tr>        
        <th class="my-4">Auteur</th>
        <th class="my-4">Citation</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for quote in quotes %}
        <tr>
          <td class="my-4">{{ quote.author }}</td>
          <td class="my-4">{{ quote.citation }}</td>          
          <td class="my-4">
            <a href="{{ path('favourite_quote_remove', {'quote': quote.id}) }}" class="btn btn-danger btn-sm" title="Supprimer">
              <i class="fas fa-trash"></i>              
            </a>  
          </td>
          <td class="my-4">
            <a href="{{ path('one_quote', {'id': quote.id}) }}" class="btn btn-primary btn-sm" title="Voir la citation">
              <i class="fas fa-eye"></i>             
            </a>  
          </td>  
        </tr>
      {% endfor %}        
    </tbody>  
  </table>

  {% else %}
  <h2 class="my-4">Vous n'avez pas encore de citations favorites</h2>
  {% endif %}

{% endblock %}
