{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Citations du Monde{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">

            <h1 class="card-title text-center">

              {% if editMode %}
                  Modifier la citation
                
              {% else %}
                  Ajouter une citation

              {% endif %}
              
            </h1>

            {{ form_start(form) }}
            
              {{ form_row(form.publicationDate, {'label': 'Date de publication', 'attr':{'placeholder': 'Date de publication'} }) }}
              
              {{ form_row(form.author, {'label': 'Auteur', 'attr': {'placeholder': 'Auteur'} }) }}
              
              {{ form_row(form.book, {'label': 'Titre du livre', 'attr':{'placeholder': 'Titre du livre'} }) }}

              {{ form_row(form.category, {'label': 'Catégorie', 'attr':{'placeholder': 'Catégorie'} }) }}
              
              {{ form_row(form.citation, {'label': 'Citation', 'attr':{'placeholder': 'Citation'} }) }}
              
              {{ form_row(form.image, {'label': 'Image', 'attr':{'placeholder': 'Image'} }) }}
             
              <button class="btn btn-lg btn-primary btn-block text-uppercase typewriter" type="submit">
                
                {% if editMode %}
                  Modifier la citation
                
                {% else %}
                  Enregistrer la citation

                {% endif %}

              </button>
              
              {{ form_rest(form) }}

            {{ form_end(form) }}
          </div>
        </div>
        <a href="{{ path('all_quotes') }}">Revoir toutes les citations</a>
      </div>
    </div>
  </div>

{% endblock %}