{% extends 'base.html.twig' %}

{% block title %}Citations du Monde{% endblock %}

{% block body %}

<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">Toutes les citations
    {# <small>Secondary Text</small> #}
  </h1>
  <div class="row">

    {% for quote in quotes %}
    
      <div class="col-lg-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top img-all" src="{{ asset('uploads/images/' ~ quote.image) }}" alt="image d'un décor abstrait"></a>

          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Citation du {{ quote.publicationDate | date ('d/m/Y') }}</a>
            </h4>
            <h5 class="card-title">
              <a href="#">Auteur : {{ quote.author }}</a>
            </h5>
            <h5 class="card-title">
              <a href="#">Catégorie : {{ quote.category }}</a>
            </h5>
            <p class="card-text"> Citation : {{ quote.citation }}</p>

            <a href="{{ path('one_quote', {'id': quote.id}) }}" class="btn btn-primary">Voir cette citation</a>
            <a href="{{ path('edit', {'id': quote.id}) }}" class="btn btn-warning">Modifier</a>
            <a href="{{ path('one_quote', {'id': quote.id}) }}" class="btn btn-danger">Supprimer</a>
          </div>
        </div>
      </div>

    {% endfor %}

  </div>
  <!-- /.row -->

  <!-- Pagination -->
  {# <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
    </li>
  </ul> #}

</div>
<!-- /.container -->

{% endblock %}