{% extends 'base.html.twig' %}

{% block title %}Citations du Monde{% endblock %}

{% block body %}

<!-- Page Content -->
<div class="container">
  
  <!-- Portfolio Item Heading -->
  <h1 class="my-4">Citation du 
    <small>{{ quote.publicationDate | date ('d/m/Y') }}</small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-7">
      <img class="card-img-top img"  src="{{ asset('uploads/images/' ~ quote.image) }}" alt="truc">
    </div>

    <div class="col-md-5 card w-75">
      <h3 class="my-3">Auteur : {{ quote.author }}</h3>
      <h3 class="my-3">Catégorie : {{ quote.category }}</h3>
      <h3 class="my-3">Citation : </h3>
      <p>"{{ quote.citation }}"</p>

      <div>
        {% if is_granted ('ROLE_ADMIN') %}

        <a href="{{ path('all_quotes') }}" class="btn btn-primary">Toutes les citations</a>
        <a href="{{ path('edit', {'id': quote.id}) }}" class="btn btn-warning">Modifier</a>
        <a href="{{ path('delete_quote', {'id': quote.id}) }}" class="btn btn-danger">Supprimer</a>

        {% endif %}
             
      </div>
    </div>

  </div>
  <!-- /.row -->
   
</div>
<!-- /.container -->

{% endblock %}


