{% extends 'base.html.twig' %}

{% block title %}Citations du Monde{% endblock %}

{% block body %}

<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">Citation du {{ quote.publicationDate | date('d/m/Y') }}</h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="card-img-top" src="{{ asset('uploads/images/' ~ quote.image) }}" alt="truc">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Auteur : {{ quote.author }}</h3>
      <h3 class="my-3">Ouvrage : {{ quote.book }}</h3>      
      <h3 class="my-3">Citation :</h3>
      <p class="card-body">"{{ quote.citation }}"</p>
      

      <div class="row">
      <a href="{{ path('edit', {'id': quote.id}) }}" class="btn btn-warning">Modifier</a>
      <a href="{{ path('delete_quote', {'id': quote.id}) }}" class="btn btn-danger">Supprimer</a>
      <a href="{{ path('all_quotes') }}" class="btn btn-light">Revoir toutes les citations</a>
      <div>


    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

{% endblock %}


