{% block footer %}
<nav class="navbar navbar-light nav-plus">
  <a class="nav-link" href="#!">Contact</a>
  <a class="navbar-brand" href="#!">Copyright &copy; 2019-2020 Citations du Monde | Tous droits Réservés </a>
  <div class="row">
    <a class="nav-link" href="#!" target="_blank">
      <span class="fa fa-instagram"></span>
    </a>
    <a class="nav-link" href="#!" target="_blank">                                    
      <span class="fa fa-facebook"></span>
    </a>
  </div>
</nav>
{% endblock footer %}


