{% block header %}

<header class="nav-sup">  
  <div class="row title">
    <h1 id="title-padding">Citations du Monde</h1>
    <img src="/logo-plume.png" class="logo no-mobile" alt="logo représentant une plume pour écrire"/>
  </div>
  <nav class="navbar navbar-light navbar-expand-lg" id="navbar-padding">
    <a class="navbar-brand" href="{{path('home')}}">
      <img src="/logo-plume.png" class="logo" alt="logo représentant une plume pour écrire"/>
    </a>    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">  
      <ul class="navbar-nav font-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{path('home')}}">Accueil</a>          
        </li>        
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
            Catégories
          </a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('view_category_quotes', {'category': 1}) }}">
              Humour
            </a>
            <a class="dropdown-item" href="{{ path('view_category_quotes', {'category': 2}) }}">
              Philosophie
            </a>
            <a class="dropdown-item" href="{{ path('view_category_quotes', {'category': 3}) }}">
              Amour
            </a>                     
          </div>          
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('security_registration')}}">Créer un compte</a>
        </li>
        {% if not app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
        </li>        
        {% else %}        
        <li class="nav-item">
          <a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
        </li>
        {% endif %}

        {% if is_granted ('ROLE_USER') %}      
        <li class="nav-item" aria-label="Mes favoris" >         
          <a class="nav-link" href="{{ path('my_favourites') }}">Mes Favoris</a>
        </li>
        {% endif %}

        {% if is_granted ('ROLE_ADMIN') %}
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
            Admin
          </a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu">
            <a class="dropdown-item" href="{{path('all_quotes')}}">Toutes les citations</a>
            <a class="dropdown-item" href="{{path('add_quote_admin')}}">Ajouter une citation</a>
            <a class="dropdown-item" href="{{path('all_quotes')}}">Modifier une citation</a>
            <a class="dropdown-item" href="{{path('all_categories')}}">Toutes les catégories</a>
            <a class="dropdown-item" href="{{path('add_category_admin')}}">Ajouter une catégorie</a>
            <a class="dropdown-item" href="{{path('all_categories')}}">Modifier une catégorie</a>   
            <a class="dropdown-item" href="{{path('my_favourites')}}">Mes favoris</a>
          </div>
        </li>
        {% endif %}   
      </ul>
    </div>
  </nav>
</header>

{% endblock header %}