{% extends 'base.html.twig' %}

{% block title %}Citations du Monde{% endblock %}

{% block body %}

<!-- Page Content -->
<div class="container">

  {% for quote in quotes %}
  <!-- Item Heading -->
  <h2 class="my-4">Citation du 
    <small>{{ quote.publicationDate | date ('d/m/Y') }}</small>
  </h2>
  <!-- Item Row -->
  <div class="row">
    <div class="col-md-6">
      <img class="desktop card-img-top img img-fluid" src="{{ asset('uploads/images/' ~ quote.image) }}" alt="image représentant la citation">
    </div>
    <div class="col-md-6 container-fluid card">
      <h3 class="my-3">{{ quote.author }}</h3>
      <p>"{{ quote.citation }}"</p>
      <div>
        <a href="{{ path('add_favourite_quote', {'quote': quote.id}) }}" class="btn btn-light" title="Ajouter à mes favoris">
          <img src="/images/facebook-love-icon-png-21.jpg.png" class="icone" alt="icône représentant un petit coeur rose">
        </a>
      </div>
    </div>
  </div>
  <!-- /.row -->  
  {% endfor %}  
</div>
<!-- /.container -->
{% endblock %}